In [80]:
%%writefile Data//text.txt
This is text1

Writing data//text.txt

In [81]:
txt = open('Data//text.txt')
txt

In [82]:
txt.read()

'This is text1 \n'

In [83]:
txt.read()

''

In [84]:
txt.seek(0)
txt.read()

'This is text1 \n'

In [85]:
txt.close()

In [86]:
txt = open('Data//text.txt','w+')
txt.write('Add new line 1')

14

In [87]:
txt = open('Data//text.txt','a+')
txt.write('\nAdd new line 2')

15

In [88]:
%%writefile -a Data//text.txt
Add new line 3

Appending to data//text.txt

In [89]:
with open('Data//text1.txt') as txt :
    first_line = txt.readlines()[0]
print(first_line)

This is text1

In [96]:
import pandas as pd 
data = pd.read_csv('Data//1.csv')# , skiprows = 2) 
data.head()

Empty DataFrame
Columns: [1, 2, 3]
Index: []

In [99]:
file = open('Data//1.csv', 'w')
file.write('15')
file.close()

In [100]:
file = open('Data//1.csv', 'w')
file.write('This is new line')
file.close()

In [101]:
file = open('Data//1.csv', 'w' , encoding = 'utf')
file.write('أضافه سطر جديد')
file.close()

In [104]:
file = open('Data//1.csv','r', encoding="utf8") 
for a in file: 
 print(a)

أضافه سطر جديد